<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Privacy Policy
        </title>
        <link rel="stylesheet" href="termAndPolicy.css">
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@500;600&display=swap" rel="stylesheet">    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    </head>
    <body>
        <main id = "main">
            <h1 class = "heading">Privacy Policy</h1>

            <div class = "content">
                <p class = "para-terms">
                    This Privacy Policy sets out our commitment to protecting the privacy of personal information provided to us, or otherwise collected by us, offline or online, including through our website, https://nfhoneybadgers.com/ (“Website or “Site”). In this Privacy Policy we, us or our means NF Honey Badgers, Proprietorship. 
                </p>
            </div>

            <div class = "content">
                <h2 class = content-heading>Personal information</h2>
                <p class = "para-terms">
                    The types of personal information we may collect about you include: 

                </p>
                <div class ="list">
                    <ul>
                        <li>Your name;</li>
                        <li>Your email address;
                        </li>
                        <li>Your preferences and/or opinions;</li>
                        <li>Information you provide to us through customer surveys;</li>
                        <li>Details of products and services we have provided to you and/or that you have enquired about, and our response to you;</li>
                        <li>Your browser session and geo-location data, device and network information, statistics on page views and sessions, acquisition sources, search queries and/or browsing behaviour;</li>
                        <li>Information about your access and use of our Website, including through the use of Internet cookies, your communications with our Website, the type of browser you are using, the type of operating system you are using and the domain name of your Internet service provider;</li>
                        <li>Additional personal information that you provide to us, directly or indirectly, through your use of our Website, associated applications, associated social media platforms and/or accounts from which you permit us to collect information; and
                        </li>
                        <li>Any other personal information requested by us and/or provided by you or a third party.</li>
                    </ul>
                </div>
                <p class = "para-terms">We may collect these types of personal information directly from you or from third parties.
                </p>
            </div>

            <div class = "content">
                <h2 class="content-heading">Collection and use of personal information</h2>
                <p class = "para-terms">We may collect, hold, use and disclose personal information for the following purposes: to enable you to access and use our Website, associated applications and associated social media platforms;
                </p>
                <div class="list">
                    <ul>
                        <li>to contact and communicate with you;</li>
                        <li>for internal record keeping and administrative purposes;
                        </li>
                        <li>for analytics, market research and business development, including to operate and improve our Website, associated applications and associated social media platforms;</li>
                        <li>for advertising and marketing, including to send you promotional information about our products and services and information about third parties that we consider may be of interest to you;</li>
                        <li>to comply with our legal obligations and resolve any disputes that we may have.</li>
                
                    </ul>
                </div>
            </div>

            <div class ="content">
                <h2 class = "content-heading">
                    Disclosure of personal information to third parties
                </h2>
                <div class ="list">
                    <div class="para-terms">We may disclose personal information to:</div>
                    <ul>
                        <li>third party service providers for the purpose of enabling them to provide their services, including (without limitation) IT service providers, data storage, web-hosting and server providers, debt collectors, maintenance or problem-solving providers, marketing or advertising providers, professional advisors and payment systems operators;
                        </li>
                        <li>our employees, contractors and/or related entities;
                        </li>
                        <li>our existing or potential agents or business partners;</li>
                        <li>anyone to whom our business or assets (or any part of them) are, or may (in good faith) be, transferred;
                        </li>
                        <li>courts, tribunals, regulatory authorities and law enforcement officers, as required by law, in connection with any actual or prospective legal proceedings, or in order to establish, exercise or defend our legal rights. </li>
    
                    </ul>

                </div>
                <p class = "para-terms">
                    Where we disclose your personal information to third parties, we will request that the third party handle your personal information in accordance with this Privacy Policy.
                </p>
            </div>

            <div class="content">
                <h2 class="content-heading">
                    Your rights and controlling your personal information
                </h2>
                <p class = "para-terms"><b>Choice and consent</b>: Please read this Privacy Policy carefully. By providing personal information to us, you consent to us collecting, holding, using and disclosing your personal information in accordance with this Privacy Policy. You do not have to provide personal information to us, however, if you do not, it may affect your use of this Website or the products and/or services offered on or through it.
                </p>
                <p class = "para-terms"><b>Information from third parties</b>: If we receive personal information about you from a third party, we will protect it as set out in this Privacy Policy. If you are a third party providing personal information about somebody else, you represent and warrant that you have such person’s consent to provide the personal information to us. </p>

                <p class = "para-terms"><b>Restrict:</b> You may choose to restrict the collection or use of your personal information. If you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by contacting us using the details below.</p>

                <p class = "para-terms"><b>Correction:</b> If you believe that any information we hold about you is inaccurate, out of date, incomplete, irrelevant or misleading, please contact us using the details below. We will take reasonable steps to correct any information found to be inaccurate, incomplete, misleading or out of date.
                </p>
            </div>

            <div class ="content">
                <h2 class="content-heading">Storage and security</h2>
                <p class = "para-terms">We are committed to ensuring that the personal information we collect is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the personal information and protect it from misuse, interference, loss and unauthorised access, modification and disclosure.</p>
                <p class = "para-terms">We cannot guarantee the security of any information that is transmitted to or by us over the Internet. The transmission and exchange of information is carried out at your own risk. Although we take measures to safeguard against unauthorised disclosures of information, we cannot assure you that the personal information we collect will not be disclosed in a manner that is inconsistent with this Privacy Policy.
                </p>
            </div>

            <div class="content">
                <h2 class="content-heading">Cookies and web beacons</h2>
                <p class = "para-terms">
                    We may use cookies on our Website from time to time. Cookies are text files placed in your computer’s browser to store your preferences. Cookies, by themselves, do not tell us your email address or other personally identifiable information. However, they do allow third parties, such as Google and Facebook, to cause our advertisements to appear on your social media and online media feeds as part of our retargeting campaigns. If and when you choose to provide our Website with personal information, this information may be linked to the data stored in the cookie.
                </p>
                <p class = "para-terms">We may use web beacons on our Website from time to time. Web beacons (also known as Clear GIFs) are small pieces of code placed on a web page to monitor the visitor’s behaviour and collect data about the visitor’s viewing of a web page. For example, web beacons can be used to count the users who visit a web page or to deliver a cookie to the browser of a visitor viewing that page.</p>
            
            </div>

            <div class = "content">
                <h2 class = "content-heading">Links to other websites</h2>
                <p class = "para-terms">Our Website may contain links to other Websites. We do not have any control over those websites and we are not responsible for the protection and privacy of any personal information which you provide whilst visiting those websites. Those websites are not governed by this Privacy Policy.</p>
            
            </div>

            <div class ="content">
                <h2 class="content-heading">Amendments</h2>
                <p class = "para-terms">We may, at any time and at our discretion, vary this Privacy Policy by publishing the amended Privacy Policy on our Website. We recommend you check our Website regularly to ensure you are aware of our current Privacy Policy.</p>
                <p class = "para-terms">
                    <b>For any questions or notices, please contact our Privacy Officer at:</b> contact@nfhoneybadgers.com
                </p>
            </div>

        </main>
    </body>
</html>